<!DOCTYPE html>
<html>
<head>
  <title>67 Site</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
</head>

<body>
{% include 'partials/particles_background.html' %}

<header>
  <h1>67site</h1>
  <div class="header-actions">
    {% include 'partials/top_nav.html' %}
  </div>
</header>

<div class="container landing">

  <p class="landing-lead">A collection of cool guides i made for fun!</p>

  <a class="card landing-card" href="{{ url_for('pvp') }}">
    <h2>Minecraft PvP guide</h2>
    <p>Beginner-Advanced techniques, combos, defense, for every gamemode</p>
  </a>

</div>

{% include 'partials/footer.html' %}

</body>
</html>
