<!DOCTYPE html>
<html>
<head>
  <title>UHC Guide — Utilities</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
</head>

<body>
{% include 'partials/particles_background.html' %}

<header>
  <h1>🪣 Utilities</h1>
  <div class="header-actions">
    <a class="button" href="{{ url_for('uhc') }}">← UHC Guide</a>
    {% include 'partials/top_nav.html' %}
  </div>
</header>

<div class="container">

  <p class="section-kicker">UHC Guide</p>
  {% include 'partials/uhc_tabs.html' %}

  <div class="panel">
    <h2>🪣 Utilities</h2>
    <p>❗ Your utilities are one of the most important parts of UHC Combat, both helping you to Agro your opponent, and to ensure survival in it.</p>
  </div>

  <div class="panel">
    <h2>🕸️ Webbing</h2>
    <p>Webbing is insanely important in UHC. It not only allows you to put your opponents into positions they can’t live, but it also gives you the ability to prevent your opponents from agroing you. It is super important to not overuse your webs, because if you run out of webs too early into the duel, you can be punished greatly.</p>
    <p>A major issue that happens with webbing is your opponents “going through” your webs. This is almost always entirely based off of ping, and a great way to prevent this is to <b>not</b> web your opponents without hitting them. If you pay attention to the video below, you will notice that against higher ping players, you need to either <b>hit them before you place the web</b> or <b>place the web earlier</b>. It is important that you do that, otherwise they may not stick into your web.</p>
    <p>Using your webs to the most optimal is also shown below, where you want to put your opponent in a situation where they need to get out of the web, and you can crit them while they are in the web. The best way to do this, is to either combo them in the web while they cannot reach you, or to crit and jump reset against them while they are in the web, which will benefit you significantly.</p>
  </div>

  <div class="panel">
    <h2>🪓 Stun Webbing</h2>
    <p>Stun webbing is probably the best way you can web in UHC, because it almost always guarantees that your opponent will get into a web. It is done by stunning your opponent (which is done by double clicking your mouse while disabling your opponent’s shield), and then immediately placing a web beneath them so that they get caught in it. This also almost entirely eliminates the chance that they go through it due to ping, and can be a great way to start off an encounter, as shown below.</p>
  </div>

  <div class="panel">
    <h2>🔥 Lava</h2>
    <p>Lava-ing is just as important, if not more important than your webs in UHC. This is because your lava: slows your opponent down, provides small damage to them, and lights them on fire. It is important to never forget that your weapons will always out-damage lava, so do not become so focused on getting lava damage you forget to swing. There are a few main things you need to use your lava for.</p>
    <ol>
      <li><b>Slowing your opponent down</b> — This is super useful if your opponent is trying to agro you, and you don’t have webs, or don’t want to waste them. It’ll slow down their momentum and prevent them from further agroing you. It can also put them in a position where they get stuck in your lava, and you can then turn the tides and agro them.</li>
      <li><b>Small chip damage</b> — This is super useful if you and your opponent are pretty close on health, with every time you lava them doing about 1/2 a heart, which can really bring the game closer, or put you at a health lead so you can punish them.</li>
      <li><b>Fire / burning</b> — While the fire does significantly less damage than the lava itself, and the fire ticks can actually work against you if you aren’t careful, one of the most important parts of it is forcing them to have to water themselves. Doing this will mean your opponent isn’t focused on you, and is instead paying attention to something else (which would be putting themselves out) and you can attack them while they are doing this.</li>
    </ol>
  </div>

  <div class="panel">
    <h2>🪣 Draining</h2>
    <p>Draining is one of the most overpowered, yet frowned upon strategies in the UHC gamemode. This is because it involves you taking your opponent’s water from them, so that it is significantly more difficult to fight you. There are two main applications to this, which are covered in the numbered points below. Draining is most often done by getting your opponent into a web, where you then either place lava where their water is, and then immediately pick it back up. It can also be done by having an empty bucket in your hotbar, and immediately picking up their water once it is placed. This makes it extremely difficult for your opponent to get out of the web they are in, which will benefit you since you will have an easier time fighting them.</p>
    <p>A few more ways to drain are: placing a web over their water source block, placing a block over their water source block, placing <b>your</b> water in <b>their</b> source block (making it the same block) and then picking it back up.</p>
    <ol>
      <li><b>Instantly damaging / dropping</b> — When draining your opponent, it is really easy to get high amounts of damage quickly due to them not immediately reacting to it. So for example, they place their water, but you drain it and then immediately begin critting them. This is easy to do because your opponent will expect themselves to be out of the web, but when they are not, they struggle to recover.</li>
      <li><b>Long-term draining</b> — This is where you get rid of <b>all</b> of your opponent’s water buckets throughout the duel, and at the end you can easily beat them due to them being unable to quickly escape your webs, or extinguish themselves when on fire.</li>
    </ol>
  </div>

  <div class="panel">
    <h2>🪣 Water placement</h2>
    <p>While water placement is generally considered simply just for removing yourself from a web, or extinguishing yourself when you’re on fire, water is actually used for much more. When you are watering yourself, you want to make sure that you get the most of what you are using it for, while also doing your best not to lose the water to a drain. There are a few different types of ways that you want to use waters, which are listed below.</p>
    <ol>
      <li><b>Web breaking</b> — This one is pretty straight forward, however it is also very careful you do not get drained when trying to get out of a web. How can you do this? You can do this by placing the water on the <b>opposite</b> side of your opponent. So if your opponent is on the right side of the web, you can place it on the opposite side, which would be the left. This is true for any direction, and is good to get in the habit of when playing. However, if you are sure your opponent won’t drain you, then it is actually faster to place the water on top of your web.</li>
      <li><b>Extinguishing</b> — This is used simply for just getting rid of lava/fire from yourself, but it is super important that you do <b>not</b> do this when they are going to try and agro you. Why? Because when you try and remove the fire ticks, you’ll <b>have</b> to look down in order to get rid of them, which gives your opponent the opportunity to get a free hit on you. So make sure that you are safe from your opponent when you are trying to remove the fire.</li>
      <li><b>Watering opponents</b> — While at first glance, this seems pretty counterintuitive, it is actually an extremely important strategy. If you: do not want to waste a web, want to slow your opponent down <b>quickly</b> and make it easy to punish them with it, it is actually extremely useful to place water beneath their feet (as shown in <a href="https://medal.tv/games/minecraft/clips/jFCFVdrbNLzrNbvYB?invite=cr-MSx3V3QsMTYzNzE2MTM4LA" target="_blank" rel="noopener noreferrer">this clip</a>) so that you can continue to punish them, or break their agro.</li>
      <li><b>Leaving waters on yourself</b> — This means if you are in a web, you may leave your water on the web so that it is 2 blocks high at the center, and you are actually able to swim into it, making it <b>significantly</b> harder to hit you, with your decreased swimming hitbox. This is a strategy that is pretty useful when used correctly, however you must be careful to not lose your water while doing it. (Clip below.)</li>
    </ol>
  </div>

  <div class="panel">
    <h2>🕸️ Head webbing</h2>
    <p>While more obscure, I thought it would be good to mention it since it can be super beneficial in situations. Head webbing is essentially when your opponent is up against the wall, and you hit them, placing a web above their head so that it’s harder to water. Making this even better, you can place blocks all around the web so that it is impossible to place water on. This is typically referred to as “OP webbing” since it is almost impossible to escape. If you can, set up an OP web <b>after</b> head webbing someone, and make sure that you crit them out. (Example below.)</p>
  </div>

  <div class="next">
    <a class="button" href="{{ url_for('uhc_gamesense') }}">▶ Next → Gamesense</a>
  </div>

</div>

<script>
document.querySelectorAll("a").forEach(link => {
  link.addEventListener("click", e => {
    document.body.style.opacity = "0";
  });
});
</script>

{% include 'partials/footer.html' %}

</body>
</html>
